* {
	margin: 0;
	padding: 0;
}

#fullscreenCover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: black;
}

#ball {
	border-radius: 100%;
	background-color: white;
}