* {
	margin: 0;
	padding: 0;
}

#fullscreenCover {
	width: 100%;
	background-color: black;
}

#tiltProgress {
	width: 100%;
	background-color: white;
}

h1 {
	position: absolute;
	color: white;
	font-family: sans-serif;
}