* {
	margin: 0;
	padding: 0;
}

#fullscreenCover {
	width: 100%;
	background-color: black;
}

#tilt {
	width: 100%;
	background-color: white;
}

h1 {
	position: absolute;
	color: pink;
}

#text2 {
	margin-top: 50px;
}